.progress-wrapper {
  height: 100%;
  flex-grow: 1;
  background-color: white;
}
.progress-cover {
  width: 100%;
  /* without declaring the width and using the bulma .process progress is not shown */
  height: 100%; 
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  animation: fadeIn 0.5s;
}

/** animation + opacity
1                *
|              /---             
|             /             
|            /
|           /
|          /
|=========/
0s----.20s------.50s
*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
